ellipsis() // 多余隐藏
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

ellipsis-row($num) // 几行之后隐藏
  overflow:hidden
  text-overflow:ellipsis
  display:-webkit-box
  -webkit-box-orient:vertical
  -webkit-line-clamp:$num